%div
  %div
    = form_tag '/login' do
      = label_tag :email, 'Email: '
      %br/
      = text_field_tag :email, nil, :autofocus => true
      %br/
      %br/
      = label_tag :password, 'Password: '
      %br/
      = password_field_tag :password
      %br/
      = submit_tag 'Submit', :class => 'login_submit'
  %div