<!DOCTYPE html>
<html>
<head>
  <title>Pinr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE'] %>&sensor=false" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
</div>
<div id="clean">
	<button id="outdoors">Outdoors</button>
</div>

<%= yield %>

</body>
</html>
