<!DOCTYPE html>
<html>
<head>
  <title>Pinr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE'] %>&sensor=false" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
</div>
	<div id="clean">
		<div id="login">
			<div id="login_logout">
			  <% if @auth.present? %>
			  <%= link_to('Logout', login_path, :method => :delete) %>
			  <%= link_to('New Pin', new_pin_path) %>
			  <% else %>
			  <%= link_to('Login', login_path, :class => 'login_button') %>
			  <% end %>
			 </div>
			<div id="loginform" class="invisible">
				<%= render :partial => 'session/new', locals: { user: @user } %>
			</div>
			<div id="newpin">
				<%= render 'pins/new' %>
			</div>
				<%= render 'pins/categories' %>
		</div>
	</div>
</div>

<%= yield %>

</body>
</html>
